.dictionary-search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.dictionary-search-container input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-primary);
  color: var(--text-normal);
}

.dictionary-add-container {
  display: flex;
  width: 100%;
  gap: 8px;
}

.dictionary-add-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-primary);
  color: var(--text-normal);
}

.dictionary-add-button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
}

.dictionary-add-button:hover {
  background-color: var(--interactive-accent-hover);
}

.dictionary-words-container {
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  margin-bottom: 15px;
}

.dictionary-words-list {
  padding: 10px;
}

.dictionary-words-ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.dictionary-word-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
  border-bottom: 1px solid var(--background-modifier-border-hover);
  transition: background-color 0.2s;
}

.dictionary-word-item:hover {
  background-color: var(--background-modifier-hover);
}

.dictionary-word-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dictionary-remove-button {
  padding: 4px 8px;
  background: var(--background-modifier-error-rgb);
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.dictionary-remove-button:hover {
  opacity: 1;
}

.dictionary-empty-message {
  padding: 20px;
  text-align: center;
  color: var(--text-muted);
}

.dictionary-count {
  text-align: right;
  font-size: 0.8em;
  color: var(--text-muted);
  padding: 5px;
}

.dictionary-merge-words-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}

.dictionary-merge-more-text {
  text-align: center;
  font-style: italic;
  color: var(--text-muted);
}

.dictionary-merge-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}
